@{
    ViewBag.Title = "Introduction";
}

<div class="jumbotron">
    <h2>@ViewBag.Title.</h2>

    <p>
        This is an experimental Web Application,
        the two notorious brothers "Hassan" and "Salman"
        on a mission to have some fun with Google Maps API (Application Programmable Interface) and <br />
        AngularJS (Magical Javascript Framework) (^-*). <br /><i class="small"> [February 10th, 2016]</i>
    </p>
</div>
<div class="row">
    <div class="col-sm-4">
        <img src="~/Content/MyCustomImages/BroHassan.jpg" alt="Master-Mind" />
        <br />
        <i>The Master Mind of the project</i>
    </div>
    <div class="col-sm-4">
        <img src="~/Content/MyCustomImages/SalmanTheScaryLad.jpg" alt="Coding Lad" />
        <br />
        <i>The Coding lad</i>
    </div>
</div>